@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Spring 2019*/

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #FFFFFF;
	background-color: #007ABF;
}
/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #FFFFFF;
}
h1 {
	font-size: 24px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #999933;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #9B9744;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}
/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #8840d6;
	text-decoration: none;
}
a:hover {
	color: #FFFF00;
}
/* list styles ----------------------------- */
ul li {
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}
/* table styles -------------------------------------- */
table {
	border: solid #565656 1px;
}
td {
	padding: 6px;
	border: solid #00A3FF 1px;
}
th {
	font-weight: bold;
	background-color: #007ABF;
	text-align: center;
	padding: 6px;
	border: solid #00A3FF 1px;
}
/* border styles ------------------------------------ */
hr {
	border: solid #00A3FF 1px;
}
img {
	border: solid #00A3FF 1px;
}
iframe {
	border: solid #00A3FF 1px;
	padding: 8px;
	margin: 8px;
}